{% load static from staticfiles %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>


	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS --> 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<title>profile</title>
</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark">
		  <a class="navbar-brand" href="#">MyApp</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarText">
		    <ul class="navbar-nav mr-auto">
		    	<li class="nav-item active mr-2">
		        	<img src="{{user.profile.image.url}}" height="40" width="40">
		      	</li>
		      	<li class="nav-item active mr-2 ">
		        	<a class="nav-link" href="#">{{user.first_name}} <span class="sr-only">(current)</span></a>
		      	</li>
		      	<li class="nav-item active mr-2">
		        	<a class="nav-link" href="#">{{user.last_name}} <span class="sr-only">(current)</span></a>
		      	</li>


		        <li class="nav-item active mr-2">
              <a class="nav-link" href="{% url 'updateprofile-page' %}">Update Profile<span class="sr-only">(current)</span></a>
            </li>

             <li class="nav-item active">
                
            </li>
            
                <form action="{%  url 'search-page' %}" method="post">

                  {% csrf_token %}
                  <input class="form-control" name="data" type="text" placeholder="Search...">
                </form>
                
           
		    </ul>
		    <span class="navbar-text">
		      <div class="btn-group mr-2" role="group" aria-label="Third group">
    			   <button type="button" class="btn btn-secondary"  onclick="location.href='{% url 'profile-page' %}'">
             Home
             </button>
   			</div>

		    </span>
		  </div>
		</nav>

<!---<div class="create-article">
        <h2>Create an Awesome New Article</h2>
        <form class="site-form" action="{% url 'profile-page' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Create">
        </form>
    </div> -->

   
	
				{% if messages %}
          		
            		{% for message in messages %}
            				 <br>
            			<div class="container">
  							<div class="row align-items-center alert alert-success">
              					
              					<div  class="col-sm-11">
              						<h1 class="text-sm-left" >{{ message }}</h1>
              					</div>
              					<div  class="col-sm-1">
              						<button  class="btn btn-dark" onclick="location.href='{% url 'displaymessages-page' %}'">Display</button>
              					</div>
				             
				             </div>
				  		</div>
            		{% endfor %}
         			
        		{% endif %}

  			




        {% for user in users %}

    
    
      <br>
    <div class="container">
        <div class="row align-items-center alert alert-success">


 

          <div class="col-sm-2">
        
            <div class="row align-items-center">

              <div class="col-6">

                <a href="{% url 'userprofile-page' slug=user.username %}"><img src="{{user.profile.image.url}}"  class="img-fluid"    ></a>
                
              </div>
              <div class="col-6">
                <p>{{user.first_name}}  {{user.last_name}}</p>
              </div>
            </div>

          </div>

          <div  class="col-sm-8"></div>

        <div  class="col-sm-2">
          
           <button  class="btn btn-dark"  onclick="location.href='{% url 'addfriend-page' slug=user.username %}'">Add Friend</button>
        </div>
    
        </div>

        

    </div>
        
    
  {% endfor %}

	</body>
</html>