

body{


	background-image: url("back.jpg");

	 /* Full height */
  height: 100%; 

  width: 100%; 

 
  background-size: cover;
}
.navbar{


	background: rgb(35, 83, 133);
}

.row{

		  height: 100%; 

  width: 100%; 
background-size: cover;
text-align:center;
}
.downOfPage{
	text-decoration-color: white;
}



